go 1.20

use (
	./add-binary
	./add-two-numbers
	./best-time-to-buy-and-sell-stock
	./binary-tree-inorder-traversal
	./binary-tree-postorder-traversal
	./binary-tree-preorder-traversal
	./binarytreeutils
	./contains-duplicate
	./convert-sorted-array-to-binary-search-tree
	./find-the-index-of-the-first-occurrence-in-a-string
	./intersection-of-two-linked-lists
	./length-of-last-word
	./linked-list-cycle
	./longest-common-prefix
	./maximum-depth-of-binary-tree
	./merge-sorted-array
	./number-of-1-bits
	./palindrome-number
	./path-sum
	./plus-one
	./remove-duplicates-from-sorted-array
	./remove-duplicates-from-sorted-list
	./remove-element
	./reverse-bits
	./reverse-linked-list
	./roman-to-integer
	./same-tree
	./single-number
	./sqrtx
	./symmetric-tree
	./two-sum
	./valid-palindrome
	./valid-parentheses
)
