go 1.20

use (
	./add-binary
	./add-two-numbers
	./best-time-to-buy-and-sell-stock
	./binary-tree-inorder-traversal
	./binary-tree-postorder-traversal
	./binary-tree-preorder-traversal
	./binarytreeutils
	./convert-sorted-array-to-binary-search-tree
	./find-the-index-of-the-first-occurrence-in-a-string
	./length-of-last-word
	./longest-common-prefix
	./maximum-depth-of-binary-tree
	./merge-sorted-array
	./palindrome-number
	./path-sum
	./plus-one
	./remove-duplicates-from-sorted-array
	./remove-duplicates-from-sorted-list
	./remove-element
	./roman-to-integer
	./same-tree
	./single-number
	./sqrtx
	./symmetric-tree
	./two-sum
	./valid-palindrome
	./valid-parentheses
)
